<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style04_reset.css">
  <link rel="stylesheet" href="style04.css">
  <!-- 폰트어썸 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <!-- //폰트어썸 -->
  <title>제작</title>
</head>
<body>
  <header>
    <div id="top_layout">
      <div class="top_layout">
        <div class="title">
          <h1>입력</h1>
          <span>입력</span>
        </div>
      </div>
    </div>
  </header>
  <section>
    <div id="section">
      <div class="first">
        <h1>입력</h1>
        <span>입력</span>
      </div>
      <div class="second">
        <h1>입력</h1>
        <span>입력</span>
      </div>
      <div class="third">
        <h1>입력</h1>
        <span>입력</span>
      </div>
      <div class="four">
        <h1>입력</h1>
        <span>입력</span>
      </div>
      <div class="five">
        <h1>입력</h1>
        <span>입력</span>
      </div>
    </div>
  </section>
  <footer>
    <address>
      <span id="email"><i class="fas fa-envelope"></i>입력</span>
      <span id="phone"><i class="fas fa-phone"></i>입력</span>
      <span id="address"><i class="fas fa-map-marker-alt"></i>입력</span>
    </address>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="prack.js"></script>
</body>
</html>
