@charset "UTF-8";
/* 탑 레이아웃 */
#top_layout .top_layout{width: 100%; height: 500px;;
background: url(img/sea.jpg)bottom center no-repeat;
background-size: cover;}
#top_layout .top_layout .title{padding-top: 200px; padding-left: 200px;}
#top_layout .top_layout .title h1{border-bottom: 1px solid white; display: inline-block; padding-bottom: 10px;}
#top_layout .top_layout .title span{display: block; padding-top: 10px; padding-left: 5px;}
/* //탑 레이아웃 */

 /* section */
section #section{overflow: hidden;}
section > div > div{width: 50%; height: 400px; float: left;}
section > div > div:last-child{width: 100%; height: 300px; clear: both;}
section > #section > div > h1{margin: 140px 0px 10px 100px; border-bottom: 1px solid #fff; display: inline-block;}
section > #section > div > span{margin: 10px 0px 10px 100px; display: block;}
/* first */
section{}
section #section{}
section #section .first{background: url(img/winter.jpg)no-repeat center center;}
section #section .first h1{}
section #section .first span{}
/* //first */
/* first 오버효과 */
section #section .first:hover{transform: scale(1.02); transition: all 0.3s ease-in-out;}
/* //first 오버효과 */

/* second*/
section{}
section #section{}
section #section .second{background: url(img/tree.jpg)no-repeat center center;}
section #section .second h1{}
section #section .second span{}
/* //second */

/* second 오버효과*/
section #section .second:hover{transform: scale(1.02); transition: all 0.3s ease-in-out;}
/* //second 오버효과*/

/* third */
section{}
section #section{}
section #section .third{background: url(img/girl.jpg)no-repeat center center; }
section #section .third h1{}
section #section .third span{}
/* //third */

/* third 오버효과*/
section #section .third:hover{transform: scale(1.02); transition: all 0.3s ease-in-out;}
/* //third 오버효과*/


/* four */
section{}
section #section{}
section #section .four{background: url(img/woman.jpg)no-repeat center center;}
section #section .four h1{}
section #section .four span{}
/* //four */

/* four 오버효과*/
section #section .four:hover{transform: scale(1.02); transition: all 0.3s ease-in-out;}
/* //four 오버효과*/

/* five */
section{}
section #section{}
section #section .five{background: url(img/owl.jpg)no-repeat center right;
background-size: cover;  position: relative;}
section #section .five h1{}
section #section .five span{}
/* //five */

/* five 오버효과 */
section #section .five:hover{transform: scale(1.02); transition: all 0.3s ease-in-out;}
/* //five 오버효과*/
/* //section */

/* 풋터 */
footer{background-color: rgba(0,0,0,0.1);}
footer address{width: 100%; height: 300px; padding-top: 200px; background: url(img/Reflection.jpg)no-repeat center center; background-size: cover;}
footer address span {color: #fff; display: block; font-size: 20px; margin-left: 100px; padding-bottom: 20px;}
footer address span#email {}
footer address span#phone {}
footer address span#address {padding: 0;}
/* //풋터 */

@media (max-width: 640px) {
  section > #section > div{width: 100%;}
  #top_layout .top_layout .title{padding-top: 200px; padding-left: 80px;}
  section > #section > div > h1{margin: 140px 0px 10px 40px; border-bottom: 1px solid #fff; display: inline-block;}
  section > #section > div > span{margin: 10px 0px 10px 40px; display: block;}
}

@media query {

}
